.App {
  text-align: center;
}

img {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  font-size: calc(10px + 2vmin);
  color: rgba(233, 26, 26, 0.795);
  border-bottom: rgba(233, 26, 26, 0.795) 2px solid;
  padding: 0;
}

.App-body {
  height: 70vh;
  border-bottom: rgba(233, 26, 26, 0.795) 2px solid;
  text-align: left;
}

input {
  margin-left: 5px;
}

label {
  margin-right: 5px;
}

